torch==2.3.1
transformers==4.43.3
accelerate==0.33.0
Pillow==12.0.0
pytesseract==0.3.10
sentencepiece==0.2.0
tokenizers==0.19.1
timm==0.9.5
numpy==1.26.4
faiss-cpu==1.9.0
reverse_geocoder==1.5.1
timezonefinder==6.2.0
