# GoodQ Environment - Model Cache Unification
HF_HOME=<GOODQ_MODELS_DIR>
TRANSFORMERS_CACHE=<GOODQ_MODELS_DIR>/transformers
HF_DATASETS_CACHE=<GOODQ_MODELS_DIR>/datasets
TORCH_HOME=<GOODQ_MODELS_DIR>/torch
SENTENCE_TRANSFORMERS_HOME=<GOODQ_MODELS_DIR>/sentence-transformers
